@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  color: $primary-color;
  font-size: 48px;
  letter-spacing: 2px;
  margin: 0;
}

a {
  text-decoration: none;
}

.layout {
  background-color: $background-primary;
  min-height: 100vh;

  .main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $text-color-primary;
    padding: 0 12px;
  }
}